{% load static %}
{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Recuperar Contraseña{% endblock %}

{% block content %}
<div class="flex items-center justify-center h-screen bg-blue-100">
  <form method="POST" class="bg-white p-8 rounded shadow-md w-full max-w-md text-center">
    {% csrf_token %}
    <h2 class="text-2xl font-bold text-blue-800 mb-2">¿Necesitas ayuda con tu contraseña? 🔒</h2>
    <p class="text-sm text-gray-600 mb-4">Te enviaremos un enlace a tu correo para que la cambies fácil y rápido.</p>
    {{ form.email.label_tag }}
    {{ form.email|add_class:"w-full px-3 py-2 border rounded mb-4" }}
    <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white py-2 rounded">
      Enviar enlace
    </button>
  </form>
</div>
{% endblock %}
